Thumbs.db
Desktop.ini
.DS_Store
*.swp

/Fluo*/Library
/Fluo*/Logs
/Fluo*/Recordings
/Fluo*/Temp
/Fluo*/UIElementsSchema
/Fluo*/UserSettings
/Fluo*/.utmp
/Fluo*/mono_crash.*.json

/FluoController/Xcode
/FluoVisualizer/Test.mp4
/FluoVisualizer/Assets/Main
/FluoVisualizer/Assets/Main.meta
